@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    letter-spacing: 2px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: fit-content;
}

.access-button {
    padding: 2rem;
    background-color: white;
    border: 2px solid #000000;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    min-width: 120px;
    letter-spacing: 1px;
}

.access-button:hover {
    background-color: #fdad00;
    border: 5px solid #000000;
}