
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFF0;
    color: #000000;
    line-height: 1.4;
    height: 100%;
}

.mini {
    font-size: 0.8em;
}

.main-content {
    padding: 10px 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.sidebar {
    width: 180px;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 10px;
    color: #006600;
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    display: block;
    padding: 3px 5px;
}

.sidebar a:hover {
    background-color: #E6FFE6;
}

.box {
    background-color: #EEFFEE;
    border: 1px solid #99CC99;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 5rem;
}

.box h3 {
    margin-bottom: 5px;
    font-size: 1em;
}

.content {
    flex: 1;
    padding: 0 10px;
    margin-top: 5rem;
    align-items: center;
}

.content h1 {
    color: #006600;
    margin-bottom: 10px;
    text-align: center;
    font-size: 5rem;
}

.content h2 {
    color: #006600;
    margin: 15px 0 10px;
    border-bottom: 1px solid #99CC99;
    padding-bottom: 5px;
}

.marquee-container {
    background-color: #E6FFE6;
    padding: 8px;
    margin: 5rem 0;
    border: 1px dashed #99CC99;
    overflow: hidden;
}

.marquee-content {
    animation: marquee 15s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.project-info {
    background-color: #f9f9f9;
    border: 1px solid #99CC99;
    padding: 15px;
    margin: 5rem 0;
}

.project-info h2 {
    color: #006600;
    margin-top: 0;
}

.access-button {
    background-color: #006600;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 2rem;
    border-style: dashed;
    border-color: #99CC99;
    display: block;
    margin: auto;
}

.access-button:hover {
    background-color: #008800;
}

.invisivel {
    color: #FFFFF0;
    font-size: 0.8em;
}

.footer {
    background-color: #E6FFE6;
    padding: 6px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

.footer-content {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
        order: 2;
    }
    
    .content {
        order: 1;
    }
    
    .header-content {
        flex-direction: column;
        gap: 10px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
}